.walletList {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.walletList > a {
  padding: 0.5rem 0;
  border-top: 1px solid #eee;
}

.walletList > a:first-child {
  border-top: 0;
}
